opencv-python
Pillow
pdf2image
pdfplumber
numpy
python-dateutil
fastapi
uvicorn
ultralytics
scikit-learn
pytesseract
pandas
python-dateutil
sqlalchemy>=2.0.0
pyjwt
bcrypt
python-multipart
email-validator
python-dotenv
aiofiles